@tailwind base;
@tailwind components;
@tailwind utilities;


.btn{
  @apply relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 disabled:opacity-50 disabled:cursor-not-allowed;
}


input[type="text"] {
  @apply border-b border-indigo-500 outline-none px-2 py-1 text-gray-700 text-xl shadow-md transition duration-500 ease-in-out;
}


button[type="submit"] {
  @apply bg-indigo-600 p-2 rounded-md text-white w-full hover:bg-indigo-700 transition duration-300 ease-in-out;
}

button:disabled{
  @apply bg-gray-800 rounded-md text-white opacity-50 cursor-not-allowed hover:bg-gray-800;
}

table{
  @apply shadow-lg table-auto w-full;
}

thead {
  @apply bg-indigo-500 text-white;
}

tbody tr:nth-child(even) {
  @apply bg-gray-100;
}

th{
  @apply px-6 py-2 whitespace-nowrap;
}

td{
  @apply px-6 py-2 whitespace-nowrap border-b border-gray-200 text-center;
}

.ReactModalPortal > div{
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity .2s ease-in-out;
  z-index: 999;
}

.modal-fondo {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  overflow: hidden;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}



/* modal */

.modal {
  @apply bg-white container mx-auto rounded-lg shadow-lg overflow-y-auto h-4/5;
}